.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .card {
    /* border: 1px solid #ccc; */
    background-color: var(--cor-1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .card p {
    margin: 0;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
  }
  
  button:hover {
    background-color: var(--cor-2a);
  }

  .text{
    color: var(--cor-5);
  }
  