.containerCard{
    border: 1px solid var(--teal-and-mint-5);
    border-radius: 10px;
    padding: 5px;
    min-width: 200px;
    min-height: 300px;
    background-color: var(--teal-and-mint-1);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}