.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.p{
    color: var(--cor-4a );
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--cor-2);
}

.p:hover{
    background-color: var(--cor-4a);
    color: var(--cor-2 );

}