/* Color Theme Swatches in Hex */
/* .Teal-and-Mint-1-hex { color: #C7FFED; }
.Teal-and-Mint-2-hex { color: #D8FFDB; }
.Teal-and-Mint-3-hex { color: #008F8C; }
.Teal-and-Mint-4-hex { color: #015958; }
.Teal-and-Mint-5-hex { color: #023535; } */


/* https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */
/* --federal-blue: #03045eff;
--marian-blue: #023e8aff;
--honolulu-blue: #0077b6ff;
--blue-green: #0096c7ff;
--pacific-cyan: #00b4d8ff;
--vivid-sky-blue: #48cae4ff;
--non-photo-blue: #90e0efff;
--non-photo-blue-2: #ade8f4ff;
--light-cyan: #caf0f8ff; */
